.container {
    background-color:rgba(51, 27, 2, 0.942);
    display: flex;
    min-height: 85vh;
    width: 100%;
}


.content {
    background-color: rgb(168, 159, 159);
    display:flex;
    height: 80vh;
    width: 92vw;
    margin: 2.5vh 4vw;
}


.leftBox {
    display: flex;
    flex-direction: column;
    width: 49%;
    border-right: solid;
}

.name {
    margin: 0.2vh 0.8vw;
    font-size: 0.9vw;
}

.image {
    display: flex;
}
.image img {
    width: 25vw;
    height: 40vh;
    margin: 2vh 6vw;

    border: solid rgb(63, 61, 61);
    border-radius: 0.5em;
}

.diets {
    display: flex;
    height: 20vh;
    padding: 1.5vh 1vw 1vh;
}
.diets ul {
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 40vw;
}
.diets li {
    font-size: 1.3vw;
    margin: 0.5vh 1vw;
}


.rightBox {
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    width: 49%;
    border-left: solid;
}

.healthScore {
    font-size: 1.3vw;
    height: 5vh;
    margin-top: 2vh;
}
.healthScore h3 {
    margin: 0 0;
}

.summary {
    margin: 0.5vh auto;
    height: 48vh;
    font-size: 1vw;
}

.instructions {
    margin-right: 1vw;
    height: 25vh;
    overflow-y: scroll;
    margin-bottom: 1.5vh;
    border: solid thin;
}
.instructions ol {
    padding-left: 1.3vw;
}
.instructions li {
    margin: 0.7vh auto;
}