.container {
    background-color:rgba(51, 27, 2, 0.942);
    display: flex;
    min-height: 85vh;
    width: 100%;

}


.content {
    background-color: rgb(168, 159, 159);
    display:flex;
    height: 80vh;
    width: 92vw;
    margin: 2.5vh 4vw;
    
    border-radius:1.5em;
    box-shadow:0px 0px 15px 10px #1b1717;
}


.leftBox {
    display: flex;
    flex-direction: column;
    width: 49%;
    border-right: solid;
    border-right-width:0.1em;
    box-shadow:2px 0px 10px 0px #000000;
}

.name {
    margin: 0.2vh 0.8vw;
    font-size: 0.9vw;
    font-family: 'Merriweather', serif;
}

.image {
    display: flex;
}
.image img {
    width: 25vw;
    height: 40vh;
    margin: 2vh 6vw;

    border: solid rgb(63, 61, 61);
    border-radius: 0.5em;
}

.diets {
    display: flex;
    height: 10vh;
    padding: 0 1vw 1vh;
}
.diets ul {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 40vw;
}
.diets li {
    font-size: 1.3vw;
    margin: 0.5vh 1vw;
    font-family: 'Fira Sans', sans-serif;
}

.dishes {
    display: flex;
    height: 10vh;
    padding: 0;
}
.dishes ul {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 40vw;
}
.dishes li {
    display: flex;
    font-size: 1vw;
    margin: 0.5vh 1vw;
    font-family: 'Heebo', sans-serif;
}



.rightBox {
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    width: 49%;
    border-left: solid;
    border-right-width:0.1em;
    box-shadow:-24px 0px 46px -39px #000000;
}

.healthScore {
    font-size: 1.5vw;
    height: 5vh;
    margin-top: 2vh;
}
.healthScore h3 {
    margin: 0 0;
    font-family: 'Kanit', sans-serif;
}

.summary {
    margin: 0.5vh auto;
    height: 48vh;
    font-size: 1.1vw;
    font-family: 'Dosis', sans-serif;
}

.instructions {
    margin-right: 0.5vw;
    height: 33vh;
    overflow-y: scroll;
    margin-bottom: 1.5vh;
    border: solid thin;
}
.instructions ol {
    padding-left: 1.3vw;
}
.instructions li {
    margin: 0.7vh auto;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 0.9vw;
}