.container {
    width: 84vw;
    height: 86vh;
    display: flex;
    background-color:rgba(77,40,3,0.89);
/*     float: left; */
}

.card {
    display: inline;
    margin: 15px;
    text-decoration: none;
}