.container {
  background-color: rgb(41, 37, 37);
  width: 15vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  border-top: black  solid;
  box-shadow:0px 50px 18px 0px #000000;

}

.resetButtonBox {
  display: flex;
  height: 8%;
  width: 100%;
  align-items: center;
}
.resetButtonBox button {
  width: 10vw;
  height: 5vh;
  margin: auto;
  background-color: rgb(158, 127, 81);
  border-radius: 0.3vw;
}


.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .checkboxes {
      height: 100px;
      overflow-y: scroll;
      border: 1px #dadada solid;
  }
  
  .checkboxes label {
    display: block;
  }
  
  .checkboxes label:hover {
    background-color: #1e90ff;
  }