.container {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: rgb(41, 37, 37);
    box-shadow:0px 0px 25px 0px #000000;
}


.box_logo {
    display: inline-flex;
    height: 100%;
    width: 6%;
    margin: 0 5px;
    align-items: center;
}
.logo_henry {
    display: inline-flex;
    width: 100%;
}


.box_title {
    display: inline-flex;
    margin-left: 5vw;
    align-items: center;
}
.title {
    display: flex;
    font-size: 2.6rem;
    color: aliceblue;
    font-family: 'Unbounded', cursive;
    letter-spacing: 3px;
}


.box_link {
    display: inline-flex;
    margin-left: 27vw;
    align-items: center;
}
.box_link ul {
    align-items: center;
    display: inline-flex;
}
.link {
    display: inline-flex;
    margin-left: 5vw;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Alfa Slab One', cursive; */
    letter-spacing: 1.5px;
    text-decoration: none;
    list-style: none;
}

@media all and (max-width: 900px) {
    .container {
        height: 24vh;
        flex-direction: column;
        align-items: center;
    }

    .box_logo {
        display: flex;
        height: 30%;
    }
    .logo_henry {
        display: flex;
        width: 100%;
    }

    .box_title {
        height: 33%;
        margin: 0 0 3% 0;
    }

    .box_link {
        display: inline-flex;
        height: 33%;
        margin: 0;
    }
    .box_link ul {
        display: inline-flex;
        margin: 0;
        padding: 1vw;
    }
    .link {
        display: inline-flex;
        margin: 0 7.5vw 0 7.5vw;
        
        
        font-size: 1.3rem;
    }

}
