.container {
    width: 100%;
    height: 20%;
    background-color: antiquewhite;
}


.box_logo {
    display: inline;
}
.logo_henry {
    width: 10%;
    margin: 20px 0;
}


.box_title {
    display: inline-block;
}


.box_link {
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 80px;
    padding: 2% 0;
}
.box_link li {
    display: table-cell;
    padding-left: 60px;
}
